.removebg-preview-2-icon3 {
  margin-left: -1279px;
  height: 197px;
  width: 246px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.back8 {
  position: relative;
  font-size: var(--font-size-mini-8);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 35px;
}
.secondary-button8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-17xl);
  background-color: var(--color-black);
  border-radius: 7.42px;
  flex-direction: row;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.secondary-button8:hover {
  background-color: var(--color-darkslategray);
}
.main2,
.primary,
.secondary-button-wrapper2,
.secondary-button8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondary-button-wrapper2 {
  flex-direction: column;
  padding: var(--padding-58xl) 0 0;
}
.main2,
.primary {
  flex-direction: row;
  max-width: 100%;
}
.primary {
  width: 1355px;
  padding: 0 0 0 var(--padding-1229xl);
  box-sizing: border-box;
  gap: var(--gap-1014xl);
}
.main2 {
  align-self: stretch;
}
.treatment4 {
  margin: 0;
}
.once-clinical-symptoms {
  margin: 0;
  font-size: var(--body-text-size);
  font-family: var(--font-marcellus-sc);
}
.treatment-once-clinical-container {
  height: 380px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  min-width: 505px;
  max-width: 100%;
}
.image-11-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-11-wrapper {
  height: 364px;
  width: 528px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 12px;
  box-sizing: border-box;
  min-width: 528px;
  max-width: 100%;
}
.treatment3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-15xl);
  max-width: 100%;
}
.top-products-used3 {
  margin: 0;
  font-family: var(--font-limelight);
}
.rabies-vaccine-post-exposure {
  margin: 0;
}
.rabies-immune-globulin {
  margin: 0;
  white-space: pre-wrap;
}
.antibiotics-for-secondary,
.sedatives-and-pain,
.wound-cleaning-and {
  margin: 0;
}
.top-products-used-container3 {
  width: 548px;
  position: relative;
  font-size: var(--subheading-size);
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
  font-family: var(--font-marcellus-sc);
}
.content6,
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.info {
  width: 1359px;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.content6 {
  align-items: flex-end;
  padding: 0 30px 0 0;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-limelight);
}
.content6,
.divider-wrapper2,
.divider4 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.divider4 {
  flex: 1;
  position: relative;
  border-top: 0.4px solid var(--color-gainsboro-100);
}
.divider-wrapper2 {
  height: 0.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xl);
}
.medimap4 {
  width: 227.7px;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  mix-blend-mode: normal;
}
.frame-parent4 {
  width: 478.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-38xl-6);
  max-width: 100%;
}
.the-art-of {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 800;
}
.the-art-of-medicine-consists-o-wrapper {
  width: 392px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-mini);
}
.navigation-footer3 {
  margin-left: -12px;
  align-self: stretch;
  border-radius: 7.14px;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-44xl) var(--padding-33xl) var(--padding-22xl);
  box-sizing: border-box;
  max-width: 101%;
  flex-shrink: 0;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--subheading-size);
  color: var(--color-black);
  font-family: var(--body-text);
}
.desktop-13 {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  background-image: url(./public/desktop--99@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .primary {
    flex-wrap: wrap;
    gap: var(--gap-497xl);
    padding-left: var(--padding-605xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .image-11-icon {
    align-self: stretch;
    width: auto;
  }
  .image-11-wrapper {
    flex: 1;
  }
  .navigation-footer3,
  .treatment3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .primary {
    gap: var(--gap-239xl);
    padding-left: var(--padding-293xl);
    box-sizing: border-box;
  }
  .image-11-wrapper,
  .treatment-once-clinical-container {
    min-width: 100%;
  }
  .treatment3 {
    gap: var(--gap-mid);
  }
  .frame-parent4 {
    gap: var(--gap-10xl);
  }
  .navigation-footer3 {
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .primary {
    gap: var(--gap-110xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .treatment-once-clinical-container {
    font-size: var(--small-text-size);
    line-height: 38px;
  }
  .medimap4,
  .top-products-used-container3 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
}
